# --- Archivos de Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# --- Entorno Virtual y Dependencias ---
# El proyecto usa 'uv', ignoramos la carpeta .venv local
.venv/
env/
venv/
ENV/
neumonia-env/
.python-version

# --- Caches de Herramientas ---
.pytest_cache/
.ruff_cache/
.mypy_cache/
.cache/

# --- Modelos de IA (Demasiado pesados para Git) ---
*.h5

# --- Archivos generados por la aplicación (Locales) ---
# Evitamos subir reportes de pruebas o el historial de pacientes
Reporte_*.jpg
Reporte_*.pdf
historial.csv
historial-*.csv
*.xlsx
resultado.json

# --- Docker y Datos de Volumen ---
# Si el usuario crea una carpeta 'data' para pruebas locales, la ignoramos
data/

# --- Otros (SO y Editores) ---
.vscode/
.idea/
Thumbs.db
.DS_Store
*.log
